---
import "../styles/global.css";
import "../styles/reaset.css";
import BaseLayout from "../layouts/BaseLayout.astro";
---

---

<BaseLayout title="Home">
	<h1>Astro</h1>
	<p>Welcome to your first Astro project.</p>
</BaseLayout>
